body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #fd4351;
}
.flexContainer{
  width: 100%;
  display: flex;
  margin-left: 18rem;
  margin-top: 6rem;

  
}

.bgSection{
  width: 25%;
  height: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
 
  
}
.formData{
  width: 35%;
  height: 500px;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

.field{
  width: 60%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.fieldSelect{
  width: 65%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.radio label{
  margin: 0 0.7rem;
}

.checkbox{
margin-right: 15rem;
margin-top: 1rem;
}
.checkbox input{
  margin: 0 0 0 0.7rem;
}

.btn{
  background-color: green;
  color: #fff;
  font-size: 1.5rem; 
  width: 100px;
  height: 50px;
  padding: 5px;
  margin-top: 2rem;
  border-radius: 5px;
  margin-right: 13rem;
}